@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(240, 240, 240);
    font-size: 35px;
}

.background-image {
    background-image: url('https://images.unsplash.com/photo-1542704792-e30dac463c90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

h1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.departures {
    background-color: rgb(6, 6, 6);
    border-radius: 10px;
    padding: 10px;
    margin-top: 70px;
}

.departures table {
    background-color: rgb(46, 46, 46);
    text-align: left;
}

.departures table div {
    border: solid 4px rgba(26, 26, 26);
    background-color: rgb(0, 0, 0);
    min-width: 20px;
    height: 40px;
    float: left;
}

.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

#time {
    width: 160px;
}

#destination {
    width: 700px;
}

#flight {
    width: 205px;
}

#gate {
    width: 135px;
}

#remarks {
    width: 260px;
}